.nav__bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  div {
    margin: 0px 20px;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: ($fuente-navbar * 2);
  }
  a:hover {
    background: white;
    color: black;
    transition: all 1s;
  }
}

h2 {
  text-align: center;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-size: ($fuente-parrafo * 4);
  text-align: justify;
  margin: 0px 50px 0px 50px;

  .span {
    font-weight: bold;
  }
}

.footer {
  display: flex;
  align-items: baseline;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background: linear-gradient(white, rgb(213, 213, 213), white);
  margin: 0;
}

.logokiakra {
  width: 100%;
}
